#Exclude all
*
./*

!*/
!.gitignore
#C file
!*.c
#drawio
!*.drawio
#PPTX
!*.pptx
~$*
#systemVerilog
!*.sv
#VerilogHeader
!*.vh
#me
!*.md
#png
!*.png

#ignore all tree exept srcs
!my_RISC-V.srcs/

#isolate private test area
testcode.mem